.redes{
    height: 200px;
    padding: 100px;
    text-align: center;
    margin-top: auto;
    .sociales{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        display:flex;
       flex-direction: row;
        justify-content: center;
        font-size: 40pt;
        list-style: none;
        .sociales li{
            display: inline-block;
           
            
        }   
        
    }
    
}
.sociales a{
    padding: 10px;
      
 }